<div class="col-md-6">
  <%= link_to event_path(event) do %>
    <div class="card">
      <img class="card-img-top" src="<%= event.hero_image_url %>">
      <div class="card-block">
        <h4 class="card-title"><%= event.name %></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
        <% if not event.published? %>
        <div>
          <%= link_to "Publish", publish_event_path(:event_id=>event.id), method:"post", class:"btn btn-primary" %>
          <%= link_to "Add Ticket Type", ticket_types_new_path(:event_id=>event.id), class:"btn btn-primary" %>
        </div>
        <%end%>
      </div>
    </div>
  <% end %>
</div>
